@import "variables.scss";

@mixin large-text {
  font: {
    family: Avenir, Helvetica, Arial, sans-serif;
    size: $main-size;
    weight: bold;
  }
  color: white;
}

@mixin main-border ($color, $width) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}

@mixin left-colum {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
}

@mixin label-text {
  font: {
    weight: 400;
    size: 14px;
  }
  line-height: 140%;
  color: #050A1B;
}

@mixin btn-text {
  font: {
    weight: 400;
    size: 16px;
  }
  line-height: 120%;
  color: #0432D3;
}

@mixin h3 {
  font: {
    weight: 600;
    size: 28px;
  }
  line-height: 120%;
  margin: 0;
  color: #050A1B;
}
