/*----------------------- Typography Desktop ------------------------------ */
@mixin h1($color: $black-m, $size: 68px, $height: 110%) {
  font: {
    family: EuclidCircularA-SemiBold;
    style: normal;
    size: $size;
    weight: 600;
  }
  line-height: $height;
  color: $color;
}

@mixin h2($color: $black-m, $size: 40px, $height: 130%) {
  font: {
    family: EuclidCircularA-SemiBold;
    style: normal;
    weight: 600;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin h3($color: $black-m, $size: 28px, $height: 120%) {
  font: {
    family: EuclidCircularA-SemiBold;
    style: normal;
    weight: 600;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin subtitle($color: $black-m, $size: 20px, $height: 120%) {
  font: {
    family: EuclidCircularA-Medium;
    style: normal;
    weight: 500;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin preheader($color: $black-m, $size: 14px, $height: 100%) {
  font: {
    family: EuclidCircularA-Regular;
    style: normal;
    size: $size;
    weight: 400;
  }
  line-height: $height;
  color: $color;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@mixin body-l($color: $black-m, $size: 18px, $height: 160%) {
  font: {
    family: EuclidCircularA-Light;
    style: normal;
    weight: 300;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin body-r($color: $black-m, $size: 16px, $height: 150%) {
  font: {
    family: EuclidCircularA-Regular;
    style: normal;
    weight: 400;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin sub-r($color: $black-m, $size: 14px, $height: 140%) {
  font: {
    family: EuclidCircularA-Regular;
    style: normal;
    weight: 400;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

@mixin btn-m($color: $black-m, $size: 16px, $height: 120%) {
  font: {
    family: EuclidCircularA-Medium;
    style: normal;
    weight: 400;
    size: $size;
  }
  line-height: $height;
  color: $color;
}

/*----------------------- Links ------------------------------ */
@mixin linkArticles {
  @include subtitle;
  text-decoration-line: none;
  &:hover {
    @include subtitle($blue-p);
    text-decoration-line: underline;
  }
}

@mixin linkInside {
  @include body-r($color: $blue-p);
  text-decoration-line: none;
  &:hover {
    @include body-r($blue-p);
    text-decoration-line: underline;
  }
}

@mixin linkHeader {
  @include body-r;
  text-decoration-line: none;
  &:hover {
    @include body-r($blue-p);
    text-decoration-line: none;
  }
}

@mixin linkDarkBG {
  @include body-r($green-p);
  text-decoration-line: underline;
  &:hover {
    @include body-r($green-p);
    text-decoration-line: none;
  }
}

@mixin linkBlack {
  @include sub-r;
  text-decoration-line: underline;
  &:hover {
    @include sub-r;
    text-decoration-line: none;
  }
}

@mixin linkTabs {
  @include body-r;
  text-decoration-line: none;
  &:hover {
    @include body-r ($blue-p);
    text-decoration-line: underline;
  }
}
