/*----------------------- imports ------------------------------ */
@import "mixins.scss";
@import "reset.scss";

/*----------------------- styles ------------------------------ */
/* buttons */
.primary {
  background: $blue-p;
  span {
    @include btn-m($white-m)
  }
  &:hover {
    background: $hover-btn;
  }
  &:active {
    background: $active-btn;
    span {
      opacity: 0.7;
    }
  }
}

.yellow {
  background: $yellow-p;
  span {
    @include btn-m($blue-p)
  }
  &:hover {
    background: $yellow-s;
  }
  &:active {
    span {
      opacity: 0.7;
    }
  }
}


