/*----------------------- fonts ------------------------------ */
@font-face {
  font-family: 'EuclidCircularA-Regular';
  src: url('@/assets/fonts/EuclidCircularA/EuclidCircularA-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidCircularA-SemiBold';
  src: url('@/assets/fonts/EuclidCircularA/EuclidCircularA-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidCircularA-Bold';
  src: url('@/assets/fonts/EuclidCircularA/EuclidCircularA-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidCircularA-Medium';
  src: url('@/assets/fonts/EuclidCircularA/EuclidCircularA-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'EuclidCircularA-Light';
  src: url('@/assets/fonts/EuclidCircularA/EuclidCircularA-Light.woff2') format('woff2');
}

/*----------------------- breakpoints ------------------------------ */
$breakpoints: (
        bp-xl : 1440px,
        bp-l : 991px,
        bp-m: 767px,
        bp-s : 479px,
);
$browser-context-em: 16;
$browser-context-px: 1;

/*----------------------- indents ------------------------------ */
$in-2: 2;
$in-4: 4;
$in-6: 6;
$in-8: 8;
$in-10: 10;
$in-12: 12;
$in-16: 16;
$in-20: 20;
$in-24: 24;
$in-28: 28;
$in-32: 32;
$in-36: 36;
$in-40: 40;
$in-44: 44;
$in-48: 48;
$in-52: 52;
$in-56: 56;
$in-60: 60;
$in-64: 64;
$in-68: 68;
$in-72: 72;
$in-76: 76;
$in-80: 80;
$in-84: 84;
$in-88: 88;
$in-92: 92;
$in-96: 96;
$in-100: 100;
$in-120: 120;
$in-124: 124;
$in-140: 140;

/*----------------------- Colors ------------------------------ */
/* Primary colors */
$blue-p: #0432D3;
$pink-p: #FFA3DA;
$green-p:  #56E58F;
$yellow-p: #FFEA32;

/* Secondary colors */
$blue-s: #CDE7FF;
$pink-s: #FFDBF1;
$green-s: #A2EDC0;
$yellow-s: #FFF7AF;
$mint-s: #ECF8F8;

/* Monochrome colors */
$black-m: #050A1B;
$white-m: #FFFFFF;
$gray-m: #A6ACBB;

/* Button effects */
$error-btn: #FF92A5;
$hover-btn: #1B4DFF;
$active-btn: #0024A4;
$disabled-btn: #D9DEEA;

/* Form colors */
$icon-f: #98ABD9;
$stroke-f: #D0D9EF;
$error-f: #FFEEF1;
$input-default-f: #F2F5FC;
$error-solid-f: #EC2247;
$toolips-f: #121625;
